body{
    background-color: blueviolet;
}

.whitebox{
    display: inline-block;
    border: 2px solid black;
    background-color: white;
    height: 150px;
    width: 150px;
}

.imgbox{
    cursor: pointer;
    background: url('/baasketball.jpeg')  no-repeat center center/cover;
    position: relative;
    border: 2px solid black;
    top: 4px;
    left: 3px;
    height: 140px;
    width: 140px;

}

.hold{
    border: 2px solid red;

}

.hide{
    display: none;
}

.dashed{
    background-color: burlywood;
    border: dashed;
}